.container {
  display: flex;
  margin: 30px auto;
  width: 40%;
  height: 50vh;
}

.item {
  width: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
  border: 1px solid black;
  font-size: 2rem;
  text-align: center;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}
